/**I learned how to make a navbar from 
  https://www.w3schools.com/howto/howto_js_topnav.asp
*/
.nav {
    background-color: #2e2532;
    overflow: hidden
}

.nav a {
    float: left;
    color: #fbfbfb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px
}

.nav a:hover {
    background-color: #fbfbfb;
    color: #201a23;
}

.nav a.active {
    background-color: #9e4770;
    color: #fbfbfb
}

h1 {
    color: #631D76
}


